#app {
  display: grid;
  grid-template-columns: 32.78% 67.22%;

  height: 100vh;
  overflow: hidden;
}

aside {
  background: url(../assets/Background.png) no-repeat center/cover;

  & > div {
    padding: 2rem;

    & img {
      width: 45.85px;
      height: 48px;
      margin-bottom: 1rem;
    }

    & h1 {
      font: 400 2.5rem var(--font-family-logo);
      color: #FF598B;
    }

    & p {
      margin-top: 0.25rem;

      font: var(--body-md);
      color: var(--text-body);
      font-weight: 300;
    }
  }

  
}

